<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>ENEE101 ONLINE</title>
  </head>

  <body class="container">
    {{{body}}}
  </body>
</html>
