<div class="home">
  <button id="enter-queue">Enter Queue</button>
  
  <div class="movement">
    <form method="POST" action="/api/movement">
      <label for="x">x position:</label>
      <input type="text" id="x" name="x" value="9999">
      <label for="y">y position:</label>
      <input type="text" id="y" name="y" value="9999">
      <input type="submit" value="submit">
    </form>
  </div>
</div>
<script>
  $('#enter-queue').click(() => {

  });
</script>