<div class="home">
  <form method="POST" action="/api/submit">
    <label for="colors">Color:</label>
    <select id="colors" name="colors">
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
    <button id="submit" type="submit">Submit</button>
  </form>

  <div>
    <p>Current LED color:</p>
    <p id="current-color">{{color}}</p>
  </div>
</div>

<script>
  $('#submit').click(() => {
    var clr = $('#colors').val();
    socket.emit('color update', { color: clr });
  })
</script>
