<div class="home">
  <form method="POST" action="/api/submit">
    <label for="colors">Color:</label>
    <select id="colors" name="colors">
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
    <input type="submit">
  </form>
</div>
