input {
  height: 25px;
  width: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  border: 2px;
  border-radius: 4px;
  margin: 8px 0;
  box-sizing: border-box;
  outline-color: #720012;
}

body {
  color: black;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

<<<<<<< HEAD
.header {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.footer {
=======
.footer{
>>>>>>> 116cdee4ae34a4f86dad9f347524319fa2fafecc
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}

<<<<<<< HEAD
.inner-header,
.inner-footer {
=======
.inner-header, .inner-footer {
>>>>>>> 116cdee4ae34a4f86dad9f347524319fa2fafecc
  display: flex;
  flex-direction: column;
  flex-grow: 6;
}

.inner-footer {
  font-weight: lighter;
  font-style: italic;
  padding-top: 30px;
  text-align: center;
}


.inner-header .underline,
.inner-footer .underline {
  background-color: #720012;
  height: 10px;
}

.vnc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-stream {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.dashboard-container {
  background-color: #E0E0E0;
  border-radius: 15px;
  margin-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queue-info {
  text-align: center;
  font-size: medium;
}

.dashboard {
  text-align: center;
}

.queue-info {
  margin: 10px;
}

#queue-length-text,
#current-user-text {
  margin: 10px;
  display: inline;
}

#is-current-user {
  font-size: medium;
}

#cs-checkbox {
  height: 15px;
  width: 15px;
  border: #ffffff;
  border-radius: 1px;
  margin: 0 0 0 5px;
}



.queued-panel {
  font-size: large;
}

.results input {
  height: 35px;
  width: 80px;
}

.instructions-Act1 {
  width: 40%;
}

.instructions-Act1 li,
.instructions-Act2 li {
  padding-bottom: 10px;
  padding-top: 5px;
  color: #ffffff;
  text-align: left;
  flex-grow: 1;
  padding-left: 3%;
}

@media(max-width: 1000px) {

  .instructions,
  .instructions-Act1,
  .instructions-Act2 {
    display: none;
  }
}

.head {
  text-align: center;
}

.button-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#queue-button {
  border-radius: 7.5px;
  height: 35px;
  color: white;
  background: #C4112E;
  border-color: #C4112E;
  font-weight: bold;
  border-style: solid;
}

.bottomRowOfControls,
.row-footer {
  margin-bottom: 15px;
  align-items: center;
}

.bottomRowOfControls,
.activity1,
.activity2 {
  flex-direction: row;
  display: flex;
}

.row-footer {
  padding: 10px;
  text-align: center;
}

.control-panel,
.command-sequence {
  background-color: #E0E0E0;
  border-radius: 10px;
  padding-bottom: 20px;
}

.command-sequence {
  color: black;
  flex-grow: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}

.command-sequence #cs-title {
  font-size: large;
}

.command-sequence #no-commands {
  color: grey;
}

#text-JSON {
  padding-top: 20px;
}


#coordinate-input {
  padding-left: 5px;
  padding-right: 15px;
  /* position: absolute; */
  width: 180px;
  height: 35px;
  border-radius: 5px;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  border-color: white;
}

#json-input,
#results-input {
  width: 180px;
  height: 100px;
  border-color: white;
  border-radius: 7.5px;
  outline-color: #720012;
}

#google-login {
  background: white;
  color: #444;
  width: 190px;
  height: 35px;
  border-color: #ffffff;
  border-radius: 5px;
  border: solid;
}

span.buttonText {
  font-size: 14px;
  font-weight: bold;
}

.activity-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.activity {
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  font-size: large;
  flex-grow: 2;
  background-color: #818181;
  border-radius: 7px;
}

.activity1 .column-left {
  width: 40%;
}

.activity1 .column-right {
  padding-left: 30px;
}

.activity2 .column-left,
.activity2 .column-center,
.activity2 .column-right {
  width: 33%;
}
<<<<<<< HEAD
.example-box{
  height: 140px;
  width: 200px;
  background-color: black;
  margin: 15px 28%;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 97vh;
}

.box {
  position: relative;
  box-shadow: 0px 0px 10px;
  width: 30%;
  height: 300px;
  border-radius: 10px;
  background-color: #AEAEAE;
  margin: 20px;
  transition: .3s all ease-in-out;
}


.boxContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

/* Link */
a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box:hover {
  color: white;
  background-color: #720012;
  box-shadow: none;
}

=======

.photo-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E0E0E0;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 20px;
}

#resistance-label {
  margin-right: 5px;
}

#resistance-submit {
  margin-left: 10px;
}
>>>>>>> 116cdee4ae34a4f86dad9f347524319fa2fafecc
