.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-box {
  background-color: grey;
  border-radius: 20px;
  margin: 30px;
  width: 600px;
  height: 150px;
  text-align: center;
}

.link-box:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.link-text {
  color: rgb(153, 0, 0);
  font-size: x-large;
  padding-top: 10px;
}
