.g4-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E0E0E0;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 20px;
}

#run-button-gizmo4{
  color: white;
  background-color: #C4112E;
}


